<table class="table table-striped">
  <% @books.each do |book| %>
  <tr>
    <td><%= link_to book.title,book %></td>
    <td><%= book.authors %></td>
    <td><%= book.publish_year %></td>
    <td><%= link_to "修正", [ :edit, book ] %></td>
    <td><%= if book.checked_out? 
            link_to( "在庫", [ :check_in, book ], :method => :put)
        else
            link_to( "貸出中", [ :check_out, book ], :method => :put)
        end %></td>
    <td><%= link_to "削除", book, :method => :delete, :confirm => "本当に削除しますか？" %></td>
  </tr>
  <% end %>
</table>
<%= link_to "新規登録", [:new, :book], :class => "btn btn-primary" %>
