<h1>本の新規登録</h1>
<%= form_for @book, :html => {:class => "well"} do |form| %>
<ul class="unstyled">
  <li><%= form.label :title, "タイトル" %><%= form.text_field :title %></li>
  <li><%= form.label :authors, "著者" %><%= form.text_field :authors %></li>
  <li><%= form.label :publish_year, "発行年" %><%= form.text_field :publish_year %></li>
  <li><%= form.label :checked_out, "貸出中" %><%= form.check_box :checked_out %></li>
  <li><%= form.label :comment, "コメント" %><%= form.text_area :comment %></li>
  <li><%= form.submit "送信", :class => "btn" %></li>
</ul>
<% end %>

